__pycache__/
.cache
pids
_.pid
_.seed
*.pid.lock
node_modules/
# dotenv environment variable files

.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Finder (MacOS) folder config
.DS_Store

# place ignoring
place/*.png
place/*.jpg
place/output
